.actionContainer {
    border: 4px solid var(--color-dark);
    color: var(--color-dark);
    border-radius: 4px;
    padding: var(--unit);
    display: flex;
    flex-direction: column;
    margin: calc(var(--unit) * 4) 0;
    margin-bottom: var(--unit);
}

.actionContainer header {
    color: var(--color-white);
}

.actionContainer p {
    font-size: var(--font-size-small);
}

.section:first-child {
    margin-right: var(--unit);
}

.section:last-child {
    margin-top: var(--unit);
}

.apiButton {
    color: var(--color-white);
    background-color: var(--color-accent);
    padding: var(--unit);
    border: none;
    border-radius: calc(var(--unit) / 2);
    width: 100%;
    height: calc(4 * var(--unit));
    font-size: var(--font-size);
}

.sandboxButton {
    display: flex;
    place-content: center;
    color: var(--color-white);
    background-color: var(--color-dark);
    padding: var(--unit);
    border: none;
    border-radius: calc(var(--unit) / 2);
    width: 100%;
    height: calc(4 * var(--unit));
    font-size: var(--font-size);
    text-decoration: none;
}

@media (min-width: 700px) {
    .actionContainer p {
        font-size: var(--font-size);
    }

}

@media (min-width: 500px) {
    .actionContainer {
        flex-direction: row;
    }

    .section:last-child {
        margin-top: 0;
    }
}
