.examplesContainer {
    padding: 0 var(--unit);
}

.button {
    border: 0;
    /* padding: var(--unit); */
    color: var(--color-white);
    /* background-color: var(--color-dark-3); */
    background: none;
    margin-bottom: var(--unit);
    font-size: var(--font-size);
    text-align: left;
    cursor: pointer;
    text-decoration: underline;
}

.buttonList {
    display: flex;
    flex-direction: column;
}

.exampleTitle {
    color: var(--color-white-dim);
}

@media (max-width: 700px) {

    .exampleTitle {
        font-size: var(--font-size-small);
        display: inline-block;
    }

    .buttonList {
        margin-left: var(--unit);
        display: inline-flex;
        flex-direction: row;
    }

    .button {
        font-size: var(--font-size-small);
    }

}