.browserContainer {
    display: grid;
    grid-template-rows: calc(var(--header-height-2) - 0px) auto;
    min-height: 400px;
    height: 100%;
}

.browserHeader {
    display: flex;
    background-color: var(--color-dark-3);
    border: 1px solid var(--color-black);
    border-radius: calc(var(--unit) / 2);
    overflow: hidden;
}

.addressBar {
    flex: 1 0 0;
    font-size: var(--font-size);
    border: 1px solid var(--color-dark);
    padding: 0 var(--unit);
    margin: 4px 0;
    border-radius: calc(var(--unit) /2);
    background-color: var(--color-dark-3);
    color: var(--color-dark);
}

.browserButton {
    border: 0;
    min-width: calc(3 * var(--unit));
    background-color: var(--color-dark-3);
    color: var(--color-dark);
    font-size: var(--font-size-small);
    padding: 0 var(--unit);
}

.iframe {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    border-left: 1px solid var(--color-black);
}

@media (max-width: 700px) {

    .addressBar {
        font-size: var(--font-size-small);
        padding: 0 calc(var(--unit) /2);

    }

    .browserContainer {
        height: calc(100% - 274px);
        min-height: initial;
        font-size: var(--font-size-small);
    }
}
