:root {
    --unit: 16px;

    --color-white: whitesmoke;
    --color-white-dim: #94a3b8;
    --color-black: #111111;
    --color-dark: #0F172A;
    --color-dark-2: #57625d;
    --color-accent: #e96200;
    --color-dark-3: #334155; /*    #292929; */
    --color-blue: #4682B4;

    /* font */
    --font-size: 24px;
    --font-size-small: 18px;
    --font-size-large: 48px;

    --header-height-2: 54px;

    --page-width: 900px;
    --tablet-break: 700px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: var(--font-size);
    line-height: 1.35em;
    background-color: var(--color-dark);
    height: 100vh;
    width: 100vw;
}

a {
    /* text-decoration: none; */
    color: var(--color-dark-2);
}

* {
    box-sizing: border-box;
}

h1 {
    color: var(--color-white);
}

h2 {
    color: var(--color-dark);
}

p {
    color: var(--color-dark-2);
}

div#__next {
    height: 100%;
    width: 100%;
}
