.homeContainer {
    max-width: var(--page-width);
    height: 100%;
    margin: 0 auto;
    padding: var(--unit);
}

.title {
    line-height: 1.1em;
    font-size: var(--font-size);
}

.article {
    gap: calc(var(--unit) * 2);
    color: var(--color-dark);
}

.article > p {
    font-size: var(--font-size);
    line-height: 1.3em;
}

.article > p.customerValue {
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 600;
    color: var(--color-white);
    /* opacity: 0.5; */
}

.customerValue > strong {
    opacity: 1;
    color: papayawhip;
    color: orangered;
    color: #57625d;
}


@media (min-width: 700px) {
    .title {
        font-size: var(--font-size-large);
    }

    .article > p.customerValue {
        font-size: var(--font-size-large);
    }
}